{% extends "base.html" %}

{% block content %}
    <h1>About the project</h1>

    <p class="description">
        This project was built with the purpose of learning Chinese and has a different methodology than the online tools or apps used commonly. This approach focuses on memorizing the Chinese vocabulary by learning his Chinese character (hanzi) and his pronunciation (pinyin).
    </p>
    <p class="description">
        This way you can improve your Chinese level in many aspects:
        <ul class="description_list">
            <li>Reading Chinese</li>
            <li>Typing Chinese on computer/phone</li>
            <li>Complementing your listening and speaking skills</li>
        </ul>
    </p>
    <p class="description">
        The idea is to progress on each hsk levels, from 1 to 6, and learn every single word of each level. Once you have learned some words you can test it in this app, just enter the pinyin without any tone mark and check your results.
    </p>
    <p class="description">
        I personally use this app to complement my Chinese study. Everyday I pick 10 words of my hsk level, I learn their hanzi, pinyin and meaning to test them on this app and then I go over all words I have learned so far.
    </p>
    <p class="description">
        There are still lots of great features in my mind and many ways to keep improving this project.
        Feel free to look at the source code, download it and build your own features or contribute. Any suggestion is welcome!
    </p>
    <p class="description">
        For further details about the project, please take a look at the description of the source code. There is a table of contents with specific instructions for usage, roadmap, getting started, etc.
    </p>
    <p class="description">
        <a href="https://github.com/zhouyu9898/learnchinese">Source code</a>
    </p>

{% endblock content %}