{% extends "base.html" %}

{% block content %}
    <h1>Sign up</h1>

    <form action="{% url 'chinesetest:signup' %}" method="POST">
        <div class="signup_container">
            {% csrf_token %}
            <label for="text"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <p class="error_msg">{{ username_error }}</p>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="password_repeat" required>
            <p class="error_msg">{{ password_error }}</p>

            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </form>
{% endblock content %}