<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learn Chinese</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
    <div>
        {% block sidebar %}
        <ul class="sidebar">
            <li class="sidebar"><a class="active" href="/">Home</a></li>
            <li class="sidebar"><a href="/">About</a></li>
            <li class="sidebar"><a href="/">Contact</a></li>
            <li class="sidebar"><a href="/">Log in</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>