<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learn Chinese</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
    <div>
        {% block sidebar %}
        <ul class="sidebar">
            <li class="sidebar"><a class="active" href="/">Home</a></li>
            <li class="sidebar"><a href="/">About</a></li>
            <li class="sidebar"><a href="/">Contact</a></li>
            {% if request.user.is_authenticated %}
                <li class="sidebar dropdown" style="float: right; border-left:1px solid #bbb;">
                    <a href="javascript:void(0)" class="sidebar dropbtn">
                        {{ request.user.username }}
                    </a>
                    <div class="sidebar dropcnt">
                        <a href="/" class="dropsubbtn">Settings</a>
                        <a href="{% url 'chinesetest:signout' %}" class="dropsubbtn">Sign out</a>
                    </div>
                </li>
            {% else %}
                <li class="sidebar" style="float: right;">
                    <a href="{% url 'chinesetest:signup' %}">Sign up</a>
                </li>
                <li class="sidebar" style="float: right; border-left:1px solid #bbb;">
                    <a href="{% url 'chinesetest:signin' %}">Sign in</a>
                </li>
            {% endif %}
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>