{% extends "base.html" %}

{% block content %}
    <h1>Contact</h1>
    
    <p class="description">
        Hello there! Here is my contact.
    </p>

    <p class="description">
        Zhouyu Guo - zhouyuzhouyu98@gmail.com
    </p>
    <p class="description">
        LinkedIn - <a href="https://www.linkedin.com/in/zhouyu-guo-659232187/">https://www.linkedin.com/in/zhouyu-guo-659232187/</a>
    </p>
    <p class="description">
        Project Link - <a href="https://github.com/zhouyu9898/learnchinese">https://github.com/zhouyu9898/learnchinese</a>
    </p>
    
{% endblock content %}