<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	<h1>Chinese HSK 3 test</h1>
	<form action="{% url 'reset' %}">
		<input type="submit" value="reset">
	</form>
	<form action="{% url 'shuffle' %}">
		<input type="submit" value="shuffle">
	</form>
	<ul>
		{% for word in words_list %}
			<li>{{ word.hanzi }}
				<form action="{% url 'check' %}" method="POST">
					{% csrf_token %}
					<input type="text" name="pinyin">
					<input type="submit" value="check">
					<input type="hidden" value="{{ word.id }}" name="word_id" />
				</form>
			</li>
		{% endfor %}
	</ul>
</body>
</html>