{% extends "base.html" %}

{% block content %}
    <h1>Homepage</h1>
    <ul class="hsk_button">
        {% for hsk, solved_count, total_count in hsks %}
            <li class="hsk_button">
                <a href="{% url 'chinesetest:test' hsk %}" class="hsk_button">HSK {{ hsk }}</a>
                <span>
                    {% if solved_count == total_count %}
                        COMPLETED
                    {% else %}
                        {{ solved_count }}/{{ total_count}} &nbsp; SOLVED
                    {% endif %}
                </span>
            </li>
        {% endfor %}
	</ul>
{% endblock content %}