body{
	background-color: white;
    margin-left: 0;
}

h1{
    margin: 2em 1em 0.5em;
}

.button{
    margin-left: 1em;
    background-color: antiquewhite;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/********************* SIDEBAR AND DROPDOWN *********************/
ul.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(159, 0, 0);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

li.sidebar {
  float: left;
}

li.sidebar a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.sidebar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(104, 0, 0);
}

li.dropdown {
  display: inline-block;
}

.dropcnt {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 15;
}

.dropcnt a.dropsubbtn {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropcnt a.dropsubbtn:hover {background-color: #f1f1f1;}

.dropdown:hover .dropcnt {
  display: block;
}

/********************* HSK BUTTON *********************/
li.hsk_button a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

li.hsk_button{
    width: 15%;
    border-style: solid;
    /* border-color: #ff5656; */
    border-width: thin;
    border-radius: 6px;
    margin-bottom: 5px;
    background-color: rgb(241, 241, 241);
    float: left;
    margin-right: 10px;
}

/********************* CHECKMARK ICON *********************/
.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    margin-left: 1em;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:green;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:green;
    left:8px;
    top:12px;
}

/********************* TEST TABLE *********************/
table{
    table-layout: fixed;
    overflow: hidden;
}

th{
    text-align: left;
}

th.hanzi_column{
    width: 120px;
}

th.meaning_column{
    padding-left: 20px;
}

td{
    padding-bottom: 10px;
}

td.meaning{
    padding-left: 20px;
}

span.hanzi_text{
    font-size: 1.2em;
}


/********************* OTHERS *********************/
#pre_test{
    margin-left: 3em;
}